body {
	margin: 0;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Kdam Thmor Pro', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	margin: 0 24px;
	position: relative;
	min-height: 100vh;
}
